@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --text: hsl(0, 0%, 100%);
  --dark-gradient: hsla(279, 100%, 10%, 80%);
}
