@import url("base.css");

/* Phone screen */
@media only screen and (max-width: 600px) {
  header {
    h1 {
      font-size: 2rem;
    }
  }

  footer {
    font-size: 0.75rem;
  }

  #logo svg {
    width: 128px;
    height: 128px;
  }

  .title-div {
    gap: 8rem;
  }

  #timer {
    font-size: 4rem;
  }
}

/* Large phone screen */
@media only screen and (min-width: 600px) {
  header {
    h1 {
      font-size: 3rem;
    }
  }

  #logo svg {
    width: 128px;
    height: 128px;
  }

  #timer {
    font-size: 6rem;
  }
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
  footer {
    font-size: 0.8rem;
  }

  .title-div {
    gap: 10rem;
  }
}

/* Laptop screen */
@media only screen and (min-width: 992px) {
}

/* Desktop screen */
@media only screen and (min-width: 1200px) {
  header {
    h1 {
      font-size: 3.5rem;
    }
  }

  #logo {
    top: -20px;

    svg {
      width: 256px;
      height: 256px;
    }
  }

  #timer {
    font-size: 5rem;
  }

  .title-div {
    gap: 20rem;
  }

  footer {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background: url("/assets/gtaVI_artwork.jpg");
  background-size: cover;
  background-position: center;

  color: var(--text);
}

body::before {
  content: "";
  background: linear-gradient(
    to bottom,
    hsla(224, 69%, 52%, 25%),
    hsla(323, 97%, 65%, 25%),
    hsla(29, 77%, 58%, 25%)
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -2;
}

header {
  display: flex;
  min-height: 20vh;

  background: linear-gradient(to bottom, var(--dark-gradient), transparent);
  color: white;

  justify-content: center;
  align-items: center;
}

.title-div {
  color: hsl(40, 100%, 75%);
  letter-spacing: 0.05rem;

  display: flex;
  text-align: center;

  user-select: none;
}

.title-div h1:nth-child(1) {
  animation-name: fade-in-left;
  animation-duration: 2s;
  animation-direction: normal;
}

.title-div h1:nth-child(2) {
  animation-name: fade-in-right;
  animation-duration: 2s;
  animation-duration: normal;
}

#logo {
  position: absolute;
}

footer {
  text-align: center;
  padding: 1.5rem;
  color: hsl(40, 100%, 85%);

  p {
    font-weight: 200;
    /* animation-name: fade-from-below;
    animation-duration: 2s; */
  }

  background: linear-gradient(to top, var(--dark-gradient), transparent);
}

main {
  display: flex;
  justify-content: center;

  text-align: center;
}

#timer {
  padding: 2rem;

  display: inline-flex;
  align-items: center;

  letter-spacing: 0.2rem;
  color: hsl(340, 95%, 75%);
  text-shadow: 0px 0px 15px var(--dark-gradient);

  text-wrap: wrap;

  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 0.75s;
  animation-direction: normal;
}

#logo.animate {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-direction: normal;
}

@keyframes fade-in {
  0% {
    filter: blur(25px);
    scale: 0%;
  }
  65% {
    filter: blur(0px);
    scale: 110%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes fade-in-left {
  0% {
    filter: blur(50px);
    transform: translateX(-200px);
  }
  65% {
    filter: blur(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fade-in-right {
  0% {
    filter: blur(50px);
    transform: translateX(200px);
  }
  65% {
    filter: blur(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fade-from-below {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
